
* {
  font-family: "Titillium Web", sans-serif;
}
body {
  height: 2000px;
  background-color: rgba(31, 109, 37, 0.767);
}
.navbar .navbar-brand {
  font-size: 30px;
}
.navbar .nav-item {
  padding: 10px 20px;
}
.navbar .nav-link {
  font-size: 20px;
  margin-left: 10px;
}
.fa-bars {
  color: white;
  font-size: 30px;
}

